<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar">
      <a href="http://localhost:3000/">Home</a>
      <a href="http://localhost:3000/student">Students</a>
      <a href="http://localhost:3000/trainer">Trainers</a>
      <a href="http://localhost:3000/assignment">Assignment</a>
      <a href="http://localhost:3000/course">Courses</a>
      <a href="http://localhost:3000/student/add">New Student</a>
      <a href="http://localhost:3000/trainer/add">New Trainer</a>
      </div>
    <h1><%= title %></h1>
    <form action="" method="post">
        Name: <input type="text" name="name">
        last Name: <input type="text" name="last_name">
        Subject: <input type="text" name="subject">

        <button type="submit">Add new Trainer</button>
    </form>
    <div id="message"><%= message %></div>
  </body> 
</html>