body {
  background-color:#93d2a3;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ef5252;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}